.Game {
	display: flex;
	flex-direction: column;
}

/* Put the tools next to the grid if there's enough room,
   otherwise below.
 */
@media screen and (min-width: 40em) {
	.Game {
		flex-direction: row;
	}
}

.Game-main {
	margin-right: 1em;
	margin-bottom: 1em;
}

.Game .AutoSolveForm {
	margin-top: 2em;
}