.Grid {
	border-spacing: 0;
	border-collapse: collapse;
}

.Grid td {
	/* Width breakpoints here and in Game.css depend on this value. */
	width: 3em;
	height: 3em;
	border: 1px solid black;
	text-align: center;
}

/* Prevent other elements from compressing the cells,
   unless there really isn't enough room.
 */
@media screen and (min-width: 31em) {
	.Grid td {
		min-width: 3em;
	}
}

.Grid td:nth-child(3), .Grid td:nth-child(6) {
	border-right-width: 3px;
}

.Grid tr:nth-child(3) td, .Grid tr:nth-child(6) td {
	border-bottom-width: 3px;
}

.GridCell-immutable {
	background: #dddddd;
}

.GridCell-current {
	background-color: yellow;
	font-weight: bold;
}

.GridCell-current-pencil {
	color: red;
	font-weight: bold;
}